@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
    html {
        font-size: 110%;
    }
}

@media only screen and (min-width: 90em) {
    html {
        font-size: 120%;
    }
}

@media only screen and (min-width: 120em) {
    html {
        font-size: 130%;
    }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.nav {
    padding: 0;
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    color: #0074D9;
    display: block;
}

.jupiter {
    text-align: center;
}

.intro {
    text-align: center;
    background-color: #e2e2e2;
}
    
.page-bar {
    background-color: #ccc;
    overflow: hidden;
}

.page-title {
    background-color: #e2e2e2;
    text-align: center;
}

.mini-pics {
    background-color: #efefef;
}

.characteristics {
    background-color: #e2e2e2;
}

.discovery {
    background-color: #e2e2e2;
}

@media only screen and (min-width: 25em) {
    
    .nav li {
        display: inline-block;
    }
    
    .nav {
        text-align: center;
    }
    
    .copyright {
        text-align: center;
    }
}

@media only screen and (min-width: 38em) {
    
    .nav {
        float: left;
        overflow: hidden;
    }
    
    .jupiter {
        float: left;
        margin: 0;
    }
    
    .bottom-nav {
        float: right;
    }
    
    .copyright {
        text-align: left;
    }
    
    .second-para {
        padding-right: 1.5em;
    }
}

@media only screen and (min-width: 60em) {
    
    .data-list dt {
        float: left;
        width: 11em;
        clear: both;
    }
    
    .data-list dd {
        float: left;
    }
    
    .moon-info {
        padding-left: 1em;
    }
    
    .second-para {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

}