@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
    html {
        font-size: 110%;
    }
}

@media only screen and (min-width: 90em) {
    html {
        font-size: 120%;
    }
}

@media only screen and (min-width: 120em) {
    html {
        font-size: 130%;
    }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a:focus {
    outline: 1px solid #000;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: #000;
    color: #fff;
    padding: 0.5em 0.75em; 
    font-weight: bold;
    text-decoration:none;     
}

.skip-links a:focus {
    top: 0;
}

img {
  display: block;
  width: 100%;
}

.nav {
    padding: 0;
    list-style-type: none;
}

.nav a,
.nav a:link,
.nav a:visited {
    text-decoration: none;
    color: #C93;
    display: block;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
    background-color: #C93;
    color: #fff;
}

.jupiter {
    text-align: center;
    color: #fff
}

.intro {
    text-align: center;
    color: #443;
    background-color: #e2e2e2;
}
    
.page-bar {
    background-color: #443;
    overflow: hidden;
}

.page-title {
    background-color: #e2e2e2;
    text-align: center;
}

.mini-pics {
    background-color: #efefef;
}

.characteristics {
    background-color: #e2e2e2;
}

.discovery {
    background-color: #e2e2e2;
}

label {
    display: block;
}

input + label {
    display: inline-block;
}

.joinexploration {
    text-align: center;
}

.explorationi {
    text-align: center;
}

.form {
    background-color: #e2e2e2;
}

input[type="text"],
input[type="email"],
input[type="number"], 
textarea {
    width: 100%;
    border: 1px solid #ccc;
}

textarea {
    height: 20em;
}

input {
    font-size: 1.5em;
}

.button {
    text-align: center;
}

button {
    font-size: 1.5em;
}

.radio {
    white-space: nowrap;
}

.orange {
    color: #C93;
}

.backtotop {
    color: #C93;
    text-decoration: none;
    text-transform: uppercase;
}

footer {
    color: #fff;
}

@media only screen and (min-width: 25em) {
    
    .nav li {
        display: inline-block;
    }
    
    .nav {
        text-align: center;
    }
    
    .copyright {
        text-align: center;
    }
}

@media only screen and (min-width: 38em) {
    
    .nav {
        float: left;
        overflow: hidden;
    }
    
    .jupiter {
        float: left;
        margin: 0;
    }
    
    .bottom-nav {
        float: right;
    }
    
    .copyright {
        text-align: left;
    }
    
    .second-para {
        padding-right: 1.5em;
    }
}

@media only screen and (min-width: 60em) {
    
    .data-list dt {
        float: left;
        width: 11em;
        clear: both;
    }
    
    .data-list dd {
        float: left;
    }
    
    .moon-info {
        padding-left: 1em;
    }
    
    .second-para {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

}